@import 'typography';
@import 'styles/colors';

$button-font-size: 0.9rem;
$button-padding: 15px;
$button-hover: 5%;

.button,
button,
input[type='submit'] {
  display: inline-block;
  background: $primary-color;
  color: $white;
  @include capped-text(1.5px);
  font-size: $button-font-size;
  white-space: nowrap;
  border: 0px;
  margin-bottom: $small-space;
  padding: $button-padding;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background $anim-time $anim-func;
  &:hover {
    background: darken($primary-color, $button-hover);
  }
  &.success {
    background: $success-color;
    color: $black;
    &:hover {
      background: darken($success-color, $button-hover);
    }
  }
  &.error {
    background: $alert-color;
    &:hover {
      background: darken($alert-color, $button-hover);
    }
  }
  &.white {
    background: $white;
    color: $black;
    &:hover {
      background: darken($white, $button-hover);
    }
  }
  &.black {
    background: $off-black;
    &:hover {
      background: lighten($off-black, $button-hover);
    }
  }
  &.small {
    font-size: $button-font-size * 0.8;
    padding: $button-padding * 0.8;
  }
  &.large {
    font-size: $button-font-size * 1.2;
    padding: $button-padding * 1.2;
  }
  &.expand {
    width: 100%;
  }
  &.centered {
    margin: 0px auto $small-space auto;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
