input,
select {
  padding: $medium-space;
  background: $white;
  border: 2px solid lighten($light-gray, 10%);
  border-radius: $border-radius;
  font-family: $body-font;
  transition: border $anim-time $anim-func;
  &:focus {
    border: 2px solid $medium-gray;
  }
}

$switch-width: 64px;
$switch-handle: 32px;
$switch-padding: 4px;

.switch-container {
  display: flex;
  align-items: center;
  .switch-label {
    @include capped-text();
    font-weight: $extra-bold-weight;
    color: $medium-gray;
    font-size: 0.9rem;
    display: inline-block;
    margin: 0px $small-space 0px 0px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-handle;
    input {
      display: none;
      &:checked + .slider {
        background: $dark-gray;
        &:before {
          transform: translateX($switch-width - $switch-handle);
        }
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white;
      transition: $anim-time;
      border-radius: $switch-handle;
      border: 2px solid $light-gray;
      &:before {
        position: absolute;
        content: '';
        height: $switch-handle - ($switch-padding * 2);
        width: $switch-handle - ($switch-padding * 2);
        left: $switch-padding / 2;
        bottom: $switch-padding / 2;
        @extend .success-diag-gradient;
        transition: $anim-time;
        border-radius: $round-radius;
      }
    }
  }
}
