@import 'typography';
@import 'styles/general';
@import 'styles/colors';

$progress-width: 300px;
$progress-height: 30px;
$progress-border: 2px;

.progress {
  position: relative;
  display: inline-block;
  border-radius: $border-radius;
  border: $progress-border solid $light-gray;
  width: $progress-width;
  height: $progress-height;
  .marker {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    @extend .success-horiz-gradient;
    color: $white;
    @include capped-text(1px);
    font-weight: $extra-bold-weight;
    font-size: 0.9rem;
    line-height: $progress-height - (2 * $progress-border);
    padding-right: 5px;
    text-align: right;
    z-index: -1;
    transition: width $anim-time $anim-func;
  }
}
