@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.model {
  margin-top: 30px;
  @include tablet-up {
    display: flex;
    justify-content: space-between;
  }
  .content {
    display: flex;
    align-items: flex-start;
    .model-image {
      width: 52px;
      margin-right: $small-space;
      &.training {
        animation: glow 20s $anim-func infinite;
      }
      @include tablet-up {
        width: 64px;
        margin-right: $medium-space;
      }
    }
    .model-data {
      .name {
        margin-top: 0px;
        margin-bottom: 5px;
      }
      .meta {
        .private {
          color: $medium-gray;
          font-size: 1.5rem;
          margin-right: $small-space;
          vertical-align: bottom;
        }
        .author {
          color: $medium-gray;
        }
        .separator {
          color: $light-gray;
        }
        .bounty {
          color: $success-color;
        }
      }
    }
  }
  .progress-cta {
    margin-top: $small-space;
    @include tablet-up {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .training-status {
      display: none;
      @include desktop-up {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .progress {
        margin-bottom: $small-space / 2;
      }
      .time-remaining {
        color: $medium-gray;
        display: block;
        font-size: 0.9rem;
        margin-bottom: $medium-space;
      }
    }
    button {
      margin-bottom: 0px;
    }
  }
}
