@import '../../../../../variables';

.schema-block {
  .key {
    font-weight: $bold-weight;
  }
  .value {
    &.not-entered {
      color: $light-gray;
    }
  }

  .data-object {
    margin: 10px;
  }
}
