// Brand tones
$white: #fff;
$off-white: #fafafa;
$light-gray: #ccc;
$medium-gray: #808080;
$dark-gray: #323232;
$off-black: #222;
$black: #000;

// Brand hues
$primary-color: #62a4ae;
$success-color: #9bcc9a;
$warning-color: #f1bf7a;
$alert-color: #c3707c;

// Colors
$orange: #ef996b;
$turquoise: #5cb5a4;
$purple: #767ea1;

// Gradients
// You can just use @extend .COLOR-DIRECTION-gradient; in SCSS
@mixin createGradients($name, $color1, $color2) {
  .#{$name}-horizontal-gradient {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
  }

  .#{$name}-diagonal-gradient {
    background: linear-gradient(135deg, $color1 0%, $color2 100%);
  }
}

@include createGradients('alert', $alert-color, $orange);
@include createGradients('warning', $orange, $warning-color);
@include createGradients('success', $success-color, $turquoise);
@include createGradients('primary', $primary-color, $purple);
