@import 'styles/general';
@import 'styles/colors';
@import 'styles/media-queries';

#not-found {
  .not-found-container {
    padding: $medium-space 0px;
    @include desktop-up {
      padding: $large-space 0px;
    }
    h1 {
      text-align: center;
    }
  }
}
