@import 'styles/general';
@import 'styles/colors';
@import 'styles/media-queries';
@import 'styles/ui/typography';

#login {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  .login-card {
    padding: $medium-space;
    background: $white;
    border-radius: $extra-border-radius;
    box-shadow: 0px $small-space $large-space rgba($black, 0.25);
    margin-top: $medium-space;
    @include desktop-up {
      padding: $large-space;
      margin-top: $xlarge-space;
    }
    img {
      margin-bottom: $small-space;
      @include desktop-up {
        margin-bottom: $medium-space;
      }
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: $medium-space;
    }
    .button {
      display: block;
      width: auto;
      padding: $medium-space $large-space;
      @include desktop-up {
        margin-top: $medium-space;
      }
    }
  }
  .small-text {
    @include capped-text();
    color: rgba($white, 0.25);
    text-align: center;
    margin-top: $large-space;
    font-size: 0.9rem;
  }
}
