@import 'styles/z-index';

$orange: #ffc474;
$green: #addda4;
$blue: #509fb6;
$magenta: #ab3a7b;

@keyframes fades {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin gradient() {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: $gradient-zindex;
  background: linear-gradient($orange, transparent),
    linear-gradient(90deg, $magenta, transparent),
    linear-gradient(-90deg, $green, transparent),
    linear-gradient(0deg, $blue, transparent);
  background-blend-mode: multiply;
  filter: brightness(150%);
}

.background-gradient {
  @include gradient();
  &.animated {
    &:after {
      @include gradient();
      animation: fades 20s ease-in-out infinite;
      content: '';
    }
  }
}
